@font-face {
  font-family: "NunitoSans-ExtraBold";
  src: url("../fonts/NunitoSans-ExtraBold.eot");
  src: url("../fonts/NunitoSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-ExtraBold.svg") format("svg"), url("../fonts/NunitoSans-ExtraBold.woff") format("woff"), url("../fonts/NunitoSans-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: "NunitoSans-Bold";
  src: url("../fonts/NunitoSans-Bold.eot");
  src: url("../fonts/NunitoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-Bold.svg") format("svg"), url("../fonts/NunitoSans-Bold.woff") format("woff"), url("../fonts/NunitoSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: "NunitoSans-Light";
  src: url("../fonts/NunitoSans-Light.eot");
  src: url("../fonts/NunitoSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-Light.svg") format("svg"), url("../fonts/NunitoSans-Light.woff") format("woff"), url("../fonts/NunitoSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: "NunitoSans-Regular";
  src: url("../fonts/NunitoSans-Regular.eot");
  src: url("../fonts/NunitoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-Regular.svg") format("svg"), url("../fonts/NunitoSans-Regular.woff") format("woff"), url("../fonts/NunitoSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: "NunitoSans-Italic";
  src: url("../fonts/NunitoSans-Italic.eot");
  src: url("../fonts/NunitoSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-Italic.svg") format("svg"), url("../fonts/NunitoSans-Italic.woff") format("woff"), url("../fonts/NunitoSans-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/**
 * Meyer reset
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* @import "audi_pack/audi_pack"; */
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before, .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
#formsendHover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2); }

.form-loading {
  top: 50%;
  margin-top: -2em;
  left: 50%;
  margin-left: -2em;
  background-color: transparent;
  border: 3px solid #1277c2;
  position: absolute;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  width: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: spinner-animation 0.65s infinite linear;
  -moz-animation: spinner-animation 0.65s infinite linear;
  -o-animation: spinner-animation 0.65s infinite linear;
  -ms-animation: spinner-animation 0.65s infinite linear;
  animation: spinner-animation 0.65s infinite linear; }

.error {
  border: 1px solid red !important; }

.form-status {
  font-size: 12px;
  color: #00a3dc;
  padding-top: 15px;
  display: block;
  text-align: center; }

#thanks {
  position: relative;
  width: 300px;
  margin: 0 auto;
  background: #fff; }

@-webkit-keyframes spinner-animation {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spinner-animation {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@-ms-keyframes spinner-animation {
  0% {
    -ms-transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg); } }
@-o-keyframes spinner-animation {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(100deg); } }
@keyframes spinner-animation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }
.owl-carousel .owl-animated-in {
  z-index: 0; }
.owl-carousel .owl-animated-out {
  z-index: 1; }
.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

#js_magic-popup-bg {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #000;
  opacity: .6;
  top: 0;
  z-index: 1000; }

.js_magic-popup {
  position: fixed;
  top: 25%;
  z-index: 1001;
  width: 100%; }

.loaderWrapper {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 9999;
  opacity: .60; }

.loader, .loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em; }

.loader {
  border: 1.1em solid rgba(48, 48, 48, 0.25);
  margin: 200px auto;
  position: fixed;
  top: 20%;
  left: 50%;
  text-indent: -9999em;
  border-left: 1.1em solid #434343;
  /*-webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);*/
  -webkit-animation: mymove 5s infinite linear;
  animation: mymove 1.2s infinite linear; }

@keyframes mymove {
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes mymove {
  100% {
    transform: rotate(360deg); } }
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.s-arrow, .testimonials-lnk:before {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px 0px;
  width: 24px;
  height: 10px; }

.s-ok, .prices-item:before {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -10px;
  width: 16px;
  height: 12px; }

/* BUTTONS */
.btn, .btn-inverse {
  display: block;
  line-height: 50px;
  font-family: "NunitoSans-Bold", Arial, Geneva, sans-serif;
  font-size: 17px;
  color: #fff;
  text-align: center;
  background: linear-gradient(135deg, #ff8d64 0%, #ffe641 100%);
  width: 100%;
  border: none;
  padding: 0 20px;
  border-radius: 10px; }
  .btn:hover, .btn-inverse:hover {
    transition: opacity 0.3s;
    opacity: .8; }
  .btn-inverse {
    color: #000000;
    background: #fff; }

button {
  outline: none;
  cursor: pointer; }

@media screen and (max-width: 480px) {
  .btn-inverse {
    font-size: 9px; } }
/* END BUTTONS */
/* INPUTS */
input, textarea {
  display: block;
  width: 100%;
  border: 1px solid #E7E8EA;
  color: #000000;
  padding: 0 10px;
  font-family: "NunitoSans-Regular", Arial, Geneva, sans-serif;
  border-radius: 0;
  font-size: 16px;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  input:focus, textarea:focus {
    outline: none;
    border: 1px solid #000000; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #676C75;
    font-size: 12px; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #676C75;
    font-size: 12px; }
  input:-moz-placeholder, textarea:-moz-placeholder {
    color: #676C75;
    font-size: 12px; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #676C75;
    font-size: 12px; }

input {
  height: 50px;
  line-height: 50px; }

label {
  font-size: 14px;
  font-weight: bold; }

.inp-wrap {
  margin-bottom: 10px; }

textarea {
  resize: vertical;
  padding: 10px; }

#form-status {
  text-align: center;
  margin-top: 10px; }
  #form-status.with_error {
    color: red; }

.inp-c {
  display: none; }
  .inp-c-lbl {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: black;
    color: #fff; }
  .inp-c-wrap {
    display: flex; }

.checkbox-wrap {
  padding: 5px 0; }
.checkbox-inp {
  display: none; }
  .checkbox-inp:checked + .checkbox-lbl:before {
    font-family: FontAwesome;
    content: "\f00c";
    display: block;
    position: absolute;
    top: 0;
    left: 2px; }
.checkbox-lbl {
  position: relative;
  font-size: 15px;
  line-height: 1.3;
  padding-left: 25px;
  cursor: pointer;
  display: block; }
  .checkbox-lbl:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 1px;
    width: 16px;
    height: 15px;
    border: 1px solid grey; }

@media screen and (max-width: 680px) {
  .checkbox-wrap {
    padding-right: 10px; } }
/* END INPUTS */
/* TITLES */
.ttl, .ttl-inverse, .ttl-s, .ttl-xs {
  font-size: 35px;
  line-height: 35px;
  font-family: "NunitoSans-Light", Arial, Geneva, sans-serif;
  text-align: center;
  color: #000000;
  padding-bottom: 35px; }
  .ttl-part, .ttl-inverse-part, .ttl-s-part, .ttl-xs-part {
    font-family: "NunitoSans-ExtraBold", Arial, Geneva, sans-serif; }
  .ttl-inverse {
    color: #fff; }
  .ttl-s {
    font-size: 20px;
    padding-bottom: 20px; }
  .ttl-xs {
    font-size: 16px;
    padding-bottom: 15px;
    text-align: left;
    line-height: 1.5; }

/* END TITLES */
/* HEADER */
.header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0; }
  .header-blk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    color: #fff; }
  .header-logo {
    font-family: "NunitoSans-ExtraBold", Arial, Geneva, sans-serif;
    font-size: 20px; }
  .header-r {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header-nav-lst {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header-nav-i {
    padding-right: 25px;
    font-size: 15px;
    transition: opacity .3s; }
    .header-nav-i:hover {
      opacity: .8; }
  .header-menu {
    padding-left: 30px; }

/* END HEADER */
/* CONTENT FROM ADMIN */
.default-cnt ul {
  margin-left: 10px;
  list-style-type: none;
  list-style-position: inside; }
.default-cnt li {
  font-size: 12px;
  line-height: 1.3;
  color: grey;
  padding: 5px 0; }
.default-cnt span {
  color: #000; }
.default-cnt ol {
  margin-left: 10px;
  list-style-type: decimal; }
.default-cnt h1, .default-cnt h2 {
  /*  font-family: $bold; */
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 25px; }
.default-cnt h3, .default-cnt h4, .default-cnt h5 {
  font-size: 20px;
  line-height: 21px; }
.default-cnt p {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.3; }
.default-cnt table {
  margin: 10px 0;
  max-width: 100%;
  width: auto !important; }
.default-cnt td {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px 5px;
  vertical-align: middle; }
.default-cnt img {
  max-width: 100%; }
.default-cnt strong,
.default-cnt b {
  /* font-family: $bold; */ }
.default-cnt i {
  font-style: italic; }
.default-cnt a {
  color: inherit; }
  .default-cnt a:hover {
    text-decoration: underline; }
  .default-cnt a:focus {
    outline: none; }

/* END CONTENT FROM ADMIN */
/* FOOTER */
/* END FOOTER */
/* TABLET */
.tablet {
  background: url("../../public_html/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 140px;
  color: #fff; }
  .tablet-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px; }
  .tablet-col {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%; }
  .tablet-txt-wrap {
    padding-top: 100px; }
  .tablet-ttl {
    padding: 45px 0;
    font-size: 35px;
    font-family: "NunitoSans-Light", Arial, Geneva, sans-serif;
    max-width: 505px;
    line-height: 1.5; }
    .tablet-ttl-part {
      font-family: "NunitoSans-ExtraBold", Arial, Geneva, sans-serif; }
  .tablet-img {
    margin-bottom: -130px; }
    .tablet-img-wrap {
      padding-right: 60px; }
  .tablet-btn-group {
    display: flex;
    align-items: center; }
  .tablet-btn-wrap-b {
    margin-right: 20px;
    max-width: 170px;
    min-width: 170px; }
  .tablet-btn-wrap-s {
    max-width: 150px;
    min-width: 150px; }

/* END TABLET */
/* FEATURES */
.features {
  padding-top: 225px;
  padding-bottom: 125px;
  background: #F8F9FA; }
  .features-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 35px; }
  .features-col {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .features-blk {
    padding: 60px 50px 70px;
    background: #fff;
    border-radius: 10px; }
  .features-img-wrap {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px; }
    .features-img-wrap.__first {
      background: linear-gradient(135deg, #009ec5 0%, #3cecb1 100%); }
    .features-img-wrap.__second {
      background: linear-gradient(135deg, #ff8d64 0%, #ffe641 100%); }
    .features-img-wrap.__third {
      background: linear-gradient(to bottom, #b52eb5 0%, #fa5e8f 100%); }
  .features-txt {
    text-align: center; }
  .features-lnk {
    text-decoration: underline;
    color: #469AF4;
    text-align: center;
    transition: opacity .3s; }
    .features-lnk:hover {
      opacity: .8; }
    .features-lnk-wrap {
      padding-top: 25px;
      text-align: center; }

/* END FEATURES */
/* PRESS */
.press {
  padding: 100px 0; }
  .press-blk {
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
  .press-img {
    padding: 25px; }
    .press-img:first-child {
      padding-left: 0; }
    .press-img:last-child {
      padding-right: 0; }

/* END PRESS */
/* HIGHTLIGHTS */
.hightlights {
  padding: 115px 0;
  background: #F8F9FA; }
  .hightlights-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 35px; }
  .hightlights-col {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%; }
  .hightlights-i {
    max-width: 480px;
    padding: 30px;
    border-radius: 10px;
    display: flex; }
    .hightlights-i:nth-child(2n) {
      background: #fff; }
    .hightlights-i-img {
      max-width: auto; }
      .hightlights-i-img-wrap {
        padding-right: 15px;
        min-width: 40px; }
  .hightlights-blk {
    padding-top: 115px; }

/* END HIGHTLIGHTS */
/* HIGHTLIGHTS2 */
.hightlights2 {
  padding: 115px 0;
  background: #F8F9FA; }
  .hightlights2-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin: 0;
    align-items: center;
    background: #fff; }
    .hightlights2-row:nth-child(2n) .hightlights2-col-l {
      order: 2; }
    .hightlights2-row:nth-child(2n) .hightlights2-col-r {
      order: 1; }
  .hightlights2-col-l {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0; }
  .hightlights2-col-r {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0; }
  .hightlights2-txt {
    text-align: center;
    max-width: 340px;
    margin: 0 auto; }
  .hightlights2 .ttl, .hightlights2 .ttl-inverse, .hightlights2 .ttl-s, .hightlights2 .ttl-xs {
    max-width: 340px;
    margin: 0 auto; }

/* END HIGHTLIGHTS2 */
/* DOWNLOAD  */
.download {
  padding: 80px 0;
  background: url("../../public_html/img/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .download-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    align-items: center; }
  .download-col {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%; }
  .download-btn-group {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .download-btn-wrap {
    margin-right: 20px;
    max-width: 170px;
    min-width: 170px; }
    .download-btn-wrap:last-child {
      margin-right: 0; }
  .download-txt {
    font-size: 16px;
    color: #fff; }
  .download .ttl-inverse {
    text-align: left; }

/* END DOWNLOAD */
/* VIDEO  */
.video {
  padding: 115px 0;
  background: url("../../public_html/img/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .video-btn-wrap {
    max-width: 100px;
    margin: 0 auto;
    padding-top: 30px; }
  .video-txt {
    text-align: center;
    color: #fff;
    max-width: 570px;
    margin: 0 auto; }

/* END VIDEO */
/* TESTIMONIALS  */
.testimonials {
  padding: 115px 0;
  background: #F8F9FA;
  border-bottom: 1px solid #E7E8EA;
  position: relative; }
  .testimonials:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 540px;
    background: #fff;
    border-right: 1px solid #E7E8EA; }
  .testimonials-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px; }
  .testimonials-col-l {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .testimonials-col-r {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }
  .testimonials-stars-wrap {
    padding-bottom: 60px; }
  .testimonials-l-b {
    padding-top: 250px; }
  .testimonials-lnk {
    display: block;
    font-family: "NunitoSans-Bold", Arial, Geneva, sans-serif;
    font-size: 15px;
    padding-left: 35px;
    color: #000000;
    transition: opacity .3s;
    position: relative; }
    .testimonials-lnk:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -4px; }
    .testimonials-lnk:hover {
      opacity: .8; }
    .testimonials-lnk-name {
      font-size: 15px;
      font-family: "NunitoSans-Bold", Arial, Geneva, sans-serif;
      color: #676C75;
      padding-bottom: 35px; }
  .testimonials .ttl, .testimonials .ttl-inverse, .testimonials .ttl-s, .testimonials .ttl-xs {
    text-align: left;
    line-height: 1.5; }
  .testimonials-r {
    padding-left: 100px; }
  .testimonials-i {
    padding: 25px;
    border-radius: 10px;
    background: #fff;
    max-width: 570px;
    margin-bottom: 20px; }
    .testimonials-i:nth-child(2n) {
      margin: 0 0 20px auto; }
      .testimonials-i:nth-child(2n) .testimonials-img-wrap {
        order: 2; }
      .testimonials-i:nth-child(2n) .testimonials-txt {
        order: 1;
        text-align: right;
        padding-left: 0;
        padding-right: 25px; }
      .testimonials-i:nth-child(2n) .testimonials-i-name {
        order: 2; }
      .testimonials-i:nth-child(2n) .testimonials-ic-lnk {
        order: 1; }
    .testimonials-i-t {
      display: flex;
      border-bottom: 1px solid #E7E8EA; }
    .testimonials-i-b {
      padding-top: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .testimonials-i-name {
      color: #676C75;
      font-size: 12px; }
      .testimonials-i-name-part {
        font-family: "NunitoSans-Bold", Arial, Geneva, sans-serif; }
  .testimonials-txt {
    padding-left: 25px;
    font-family: "NunitoSans-Italic", Arial, Geneva, sans-serif;
    padding-bottom: 25px; }
  .testimonials-img {
    min-width: 50px; }
    .testimonials-img-wrap {
      padding-top: 10px; }

/* END TESTIMONIALS */
/* PRICES  */
.prices {
  padding: 115px 0;
  background: #F8F9FA; }
  .prices-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    align-items: center; }
  .prices-col-l {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .prices-col-r {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }
  .prices-r {
    padding-left: 100px; }
    .prices-r-row {
      display: flex;
      flex-wrap: wrap;
      margin-left: -5px;
      margin-right: -5px;
      margin: 0; }
    .prices-r-col {
      position: relative;
      min-height: 1px;
      padding-right: 5px;
      padding-left: 5px;
      width: 100%;
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0; }
  .prices-i {
    color: #fff;
    background: url("../../public_html/img/bg3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px; }
    .prices-i-t {
      padding-top: 50px; }
      .prices-i-t-ttl {
        font-size: 11px;
        text-transform: uppercase;
        font-family: "NunitoSans-ExtraBold", Arial, Geneva, sans-serif;
        padding: 10px 0;
        background: rgba(225, 225, 225, 0.1);
        text-align: center;
        border-top: 1px solid rgba(225, 225, 225, 0.3);
        border-bottom: 1px solid rgba(225, 225, 225, 0.3); }
    .prices-i-b {
      padding: 50px; }
  .prices .ttl, .prices .ttl-inverse, .prices .ttl-s, .prices .ttl-xs {
    text-align: left; }
  .prices-price {
    font-size: 60px;
    font-family: "NunitoSans-Light", Arial, Geneva, sans-serif; }
  .prices-lst {
    padding-top: 40px;
    margin-bottom: 10px; }
  .prices-item {
    position: relative;
    font-size: 15px;
    padding-left: 30px;
    padding-bottom: 20px; }
    .prices-item:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -4px; }

/* END PRICES */
* {
  box-sizing: border-box; }

img {
  display: block;
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  transition: color 0.3s; }

.clr:after {
  content: '';
  display: table;
  clear: both; }

html,
body {
  height: 100%;
  line-height: 2;
  font-family: "NunitoSans-Regular", Arial, Geneva, sans-serif;
  font-size: 14px;
  color: #676C75; }

.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  /* align center, add default padding*/
  padding-left: 40px;
  padding-right: 40px; }
  .container-with-sidebar {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin: 0; }

.tel {
  pointer-events: none; }

@media screen and (max-width: 680px) {
  .container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    /* align center, add default padding*/
    padding-left: 15px;
    padding-right: 15px; }
    .container-with-sidebar {
      display: block; }

  .tel {
    pointer-events: auto; } }
/*END Pages*/
