//@import 'functions';
@import '../variables';
//Use for include css config files
 
@import 'functions';
@include add-font('../fonts/NunitoSans-ExtraBold','NunitoSans-ExtraBold');
@include add-font('../fonts/NunitoSans-Bold','NunitoSans-Bold');
@include add-font('../fonts/NunitoSans-Light','NunitoSans-Light');
@include add-font('../fonts/NunitoSans-Regular','NunitoSans-Regular');
@include add-font('../fonts/NunitoSans-Italic','NunitoSans-Italic');  



//variable fonts
$f: 'NunitoSans-Regular', Arial, Geneva, sans-serif;
$f-b: 'NunitoSans-Bold', Arial, Geneva, sans-serif;
$f-eb: 'NunitoSans-ExtraBold', Arial, Geneva, sans-serif;
$f-l: 'NunitoSans-Light', Arial, Geneva, sans-serif;
$f-i: 'NunitoSans-Italic', Arial, Geneva, sans-serif;

