@import 'sprite';
@include sprites($spritesheet-sprites); //Use for sprites
@import 'elements/elements';
@import 'blocks/blocks';
@import 'responsive'; 

*{
 	box-sizing: border-box;
 }

img{
	display: block;
	max-width: 100%;
}
a{
	color: inherit;
	text-decoration: none;
	outline: none;
	transition: color 0.3s;
}
.clr:after{
	content:'';
	display: table;
	clear: both;
}
html,
body{
  	height: 100%;
 	line-height: 2;
 	font-family: $f;
 	font-size: 14px;
 	color:$c-grey; 
}
.container{
	max-width: $width-container + ($padding-container * 2);
 	@include make-container(); /* align center, add default padding*/
 	padding-left: 40px;
 	padding-right: 40px;
 	&-with-sidebar{
 		@include make-row();
 		margin: 0;
 	}
}
.shadow{
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.tel{
	pointer-events: none;
}

@media screen and (max-width: 680px){
	.container{
		max-width: $width-container + ($padding-container * 2);
		@include make-container(); /* align center, add default padding*/
		padding-left: 15px;
		padding-right: 15px;
		&-with-sidebar{
	 		display: block;
	 	}
	}
	.tel{
		pointer-events: auto;
	}
}