/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-arrow-name: 's-arrow';
$s-arrow-x: 0px;
$s-arrow-y: 24px;
$s-arrow-offset-x: 0px;
$s-arrow-offset-y: -24px;
$s-arrow-width: 24px;
$s-arrow-height: 10px;
$s-arrow-total-width: 62px;
$s-arrow-total-height: 46px;
$s-arrow-image: '../img/sprites/sprite.png';
$s-arrow: (0px, 24px, 0px, -24px, 24px, 10px, 62px, 46px, '../img/sprites/sprite.png', 's-arrow', );
$s-fb-name: 's-fb';
$s-fb-x: 53px;
$s-fb-y: 0px;
$s-fb-offset-x: -53px;
$s-fb-offset-y: 0px;
$s-fb-width: 9px;
$s-fb-height: 16px;
$s-fb-total-width: 62px;
$s-fb-total-height: 46px;
$s-fb-image: '../img/sprites/sprite.png';
$s-fb: (53px, 0px, -53px, 0px, 9px, 16px, 62px, 46px, '../img/sprites/sprite.png', 's-fb', );
$s-heart-name: 's-heart';
$s-heart-x: 16px;
$s-heart-y: 34px;
$s-heart-offset-x: -16px;
$s-heart-offset-y: -34px;
$s-heart-width: 12px;
$s-heart-height: 11px;
$s-heart-total-width: 62px;
$s-heart-total-height: 46px;
$s-heart-image: '../img/sprites/sprite.png';
$s-heart: (16px, 34px, -16px, -34px, 12px, 11px, 62px, 46px, '../img/sprites/sprite.png', 's-heart', );
$s-insta-name: 's-insta';
$s-insta-x: 21px;
$s-insta-y: 0px;
$s-insta-offset-x: -21px;
$s-insta-offset-y: 0px;
$s-insta-width: 16px;
$s-insta-height: 16px;
$s-insta-total-width: 62px;
$s-insta-total-height: 46px;
$s-insta-image: '../img/sprites/sprite.png';
$s-insta: (21px, 0px, -21px, 0px, 16px, 16px, 62px, 46px, '../img/sprites/sprite.png', 's-insta', );
$s-ok-name: 's-ok';
$s-ok-x: 37px;
$s-ok-y: 13px;
$s-ok-offset-x: -37px;
$s-ok-offset-y: -13px;
$s-ok-width: 16px;
$s-ok-height: 12px;
$s-ok-total-width: 62px;
$s-ok-total-height: 46px;
$s-ok-image: '../img/sprites/sprite.png';
$s-ok: (37px, 13px, -37px, -13px, 16px, 12px, 62px, 46px, '../img/sprites/sprite.png', 's-ok', );
$s-ok2-name: 's-ok2';
$s-ok2-x: 0px;
$s-ok2-y: 34px;
$s-ok2-offset-x: 0px;
$s-ok2-offset-y: -34px;
$s-ok2-width: 16px;
$s-ok2-height: 12px;
$s-ok2-total-width: 62px;
$s-ok2-total-height: 46px;
$s-ok2-image: '../img/sprites/sprite.png';
$s-ok2: (0px, 34px, 0px, -34px, 16px, 12px, 62px, 46px, '../img/sprites/sprite.png', 's-ok2', );
$s-play-name: 's-play';
$s-play-x: 0px;
$s-play-y: 0px;
$s-play-offset-x: 0px;
$s-play-offset-y: 0px;
$s-play-width: 21px;
$s-play-height: 24px;
$s-play-total-width: 62px;
$s-play-total-height: 46px;
$s-play-image: '../img/sprites/sprite.png';
$s-play: (0px, 0px, 0px, 0px, 21px, 24px, 62px, 46px, '../img/sprites/sprite.png', 's-play', );
$s-twitter-name: 's-twitter';
$s-twitter-x: 37px;
$s-twitter-y: 0px;
$s-twitter-offset-x: -37px;
$s-twitter-offset-y: 0px;
$s-twitter-width: 16px;
$s-twitter-height: 13px;
$s-twitter-total-width: 62px;
$s-twitter-total-height: 46px;
$s-twitter-image: '../img/sprites/sprite.png';
$s-twitter: (37px, 0px, -37px, 0px, 16px, 13px, 62px, 46px, '../img/sprites/sprite.png', 's-twitter', );
$spritesheet-width: 62px;
$spritesheet-height: 46px;
$spritesheet-image: '../img/sprites/sprite.png';
$spritesheet-sprites: ($s-arrow, $s-fb, $s-heart, $s-insta, $s-ok, $s-ok2, $s-play, $s-twitter, );
$spritesheet: (62px, 46px, '../img/sprites/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
