.contact{
	padding: 120px 0 190px;
	text-align: center;
	background: url('../../public_html/img/bg4.jpg');  
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;  
	&-txt{
		padding-bottom: 130px;
		max-width: 560px;
		margin: 0 auto;
		color: $c-inverse;
		font-size: 16px;
	}
	&-form{
		&-wrap{
			max-width: 630px;  
			margin: 0 auto;  
		}
		&-btn{
			&-wrap{
				max-width: 170px;
				margin: 0 auto;
				padding-top: 10px;     
			}
		}
	}
}

@media screen and (max-width: 1023px){
	.contact{
		padding: 50px 0;
		&-txt{
			padding-bottom: 30px;  
		}
	}
}

@media screen and (max-width: 760px){
	.contact{
		padding: 30px 0;
		&-txt{
			padding-bottom: 30px;  
		}
	}
}