.download{
	padding: 80px 0;
	background: url('../../public_html/img/bg2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	&-row{
		@include make-row();
		align-items: center;  
	}
	&-col{
		@include make-col-ready($grid-columns);
    	@include make-col(6);
	}
	&-btn{
		&-group{
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
		&-wrap{
			margin-right: 20px;
			max-width: 170px;
			min-width: 170px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	&-txt{
		font-size: 16px;
		color: $c-inverse;  
	}
	.ttl-inverse{
		text-align: left;
	}
}

@media screen and (max-width: 900px){
	.download{
		padding: 30px 0;
		&-col{
			@include make-col(12);
		}
		&-btn{
			&-group{
				justify-content: center;
				    margin-top: 20px;
			}
		}
		.ttl-inverse{
			text-align: center;
		}
		&-txt{
			text-align: center;
		}
	}
}

@media screen and (max-width: 760px){
	.download{
		&-btn{
			&-group{
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
			&-wrap{
				margin-right: 10px;
				max-width: 140px;  
				min-width: 140px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}