.features{
	padding-top: 225px;
	padding-bottom: 125px;   
	background: $c-grey-light;
	&-row{
		@include make-row();
		padding-top: 35px;
	}
	&-col{
		@include make-col-ready($grid-columns);
    	@include make-col(4);
    	display: flex;
	}
	&-blk{
		padding: 60px 50px 70px;
		background: $c-inverse;
		border-radius: 10px;
	}
	&-img{
		&-wrap{
			width: 70px;
			height: 70px;
			border-radius: 10px;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 35px;
			&.__first{
				background: $c-grad2;
			}
			&.__second{
				background: $c-grad1;
			}
			&.__third{
				background: $c-grad3; 
			}
		}
	}
	&-txt{
		text-align: center;
	}
	&-lnk{
		text-decoration: underline;
		color: $c-lnk;
		text-align: center;
		transition: opacity .3s;
		&:hover{
			opacity: .8;
		}  
		&-wrap{
			padding-top: 25px;
			text-align: center;
		}
	}
}

@media screen and (max-width: 1023px){
	.features{
		padding-top: 150px; 
		padding-bottom: 50px;
		&-row{
			padding-top: 0;
		}
		&-blk{
			padding: 20px;
		}
	}
}

@media screen and (max-width: 760px){
	.features{
		padding-top: 50px;
		padding-bottom: 30px;
		&-col{
	    	@include make-col(12);  
	    	margin-bottom: 20px;
		}
		&-img{
			&-wrap{
				margin: 0 auto 15px;
			}
		}
		&-lnk{
			&-wrap{
				padding-top: 15px;
			}
		}
	}
}
