.footer{
	padding: 20px 0 30px;
	&-row{
		@include make-row();
		align-items: center;  
	}
	&-col{
		@include make-col-ready($grid-columns);
    	@include make-col(4);
	}
	.header-logo{
		color: $c-main;
	}
	&-txt{
		font-size: 11px;
		text-align: center;
		color: $c-grey;
		&-ic{  
			display: inline-block;  
			@extend .s-heart;  
		}
		&-b{
			font-family: $f-b;
		}
	}
	&-soc{
		&-wrap{
			display: flex;
			max-width: 120px;
			margin: 0 0 0 auto;  
		}
		&-i{
			width: 40px;
			height: 40px;
			position: relative;
			transition: opacity .3s;   
			&:before{
				content: '';
				display: block;
				position: absolute;
				@extend .s-fb;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}
			&:hover{
				opacity: .8;
			}
			&:nth-child(2){
				border-top: 1px solid $c-border;  
			}
			&:first-child{
				border: 1px solid $c-border;
				border-top-left-radius: 10px;  
				border-bottom-left-radius: 10px;  
				&:before{
					@extend .s-twitter;
				}
			}
			&:last-child{
				border: 1px solid $c-border;
				border-top-right-radius: 10px;  
				border-bottom-right-radius: 10px;  
				&:before{
					@extend .s-insta;  
				}
			}
		}
	}
}

@media screen and (max-width: 760px){
	.footer{
		&-row{
			display: block;
		}
		&-col{
	    	@include make-col(12);
		}
		&-logo{
			&-wrap{
				text-align: center;
			}
		}
		&-soc{
			&-wrap{
				margin: 0 auto;
				margin-top: 10px;
			}
		}
	}
}