.header{
	position: absolute;  
	right: 0;
	left: 0;
	top: 0;
	&-blk{
		display: flex;
		align-items: center;
		justify-content: space-between;  
		padding-top: 20px;
		color: $c-inverse;
	}
	&-logo{
		font-family: $f-eb;
		font-size: 20px;
	}
	&-r{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&-nav{
		&-lst{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&-i{
			padding-right: 25px;
			font-size: 15px;
			transition: opacity .3s;
			&:hover{
				opacity: .8;
			}
		}
	}
	&-menu{
		padding-left: 30px;
	}
	&-btn{
		&-wrap{
			max-width: 140px;
			min-width: 140px;
		}
	}
}

@media screen and (max-width: 740px){
	.header{
		&-blk{
			display: block;
			padding-top: 16px;
		}
		&-r{
			display: block;
		}
		&-l{
			text-align: center;
		}
		&-nav{
			&-lst{
				justify-content: center;
			}
			&-i{
				padding-right: 10px;
				&:last-child{
					padding-right: 0;
				}
			}
		}
		&-menu{
		    position: absolute;  
		    right: 30px;
		    top: 30px;
		}
		&-btn{
			&-wrap{
				margin: 0 auto;
				margin-top: 15px;	
			}
		}
	} 
}