.hightlights2{
	padding: 115px 0;
	background: $c-grey-light;  
	&-row{
		@include make-row();
		margin: 0;
		align-items: center;
		background: $c-inverse;    
		&:nth-child(2n){
			.hightlights2-col{  
				&-l{
					order: 2;
				}
				&-r{
					order: 1;
				}
			}
		}
	}
	&-col{
		&-l{
			@include make-col-ready($grid-columns);
	    	@include make-col(6);
	    	padding: 0;
		}
		&-r{
			@include make-col-ready($grid-columns);
	    	@include make-col(6);
	    	padding: 0;

		}
	}
	&-txt{
		text-align: center;
		max-width: 340px;  
		margin: 0 auto;
	}
	.ttl{
		max-width: 340px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 900px){
	.hightlights2{
		padding: 50px 0;
		&-txt{
			&-wrap{
				padding: 0 20px;
			}
		}
	}
}

@media screen and (max-width: 900px){
	.hightlights2{
		&-col{
			&-l{
		    	@include make-col(12);
			}
			&-r{
		    	@include make-col(12);

			}
		}
		&-row{   
			&:nth-child(2n){
				.hightlights2-col{  
					&-l{
						order: 1;
					}
					&-r{
						order: 2;
					}
				}
			}
		}
		&-img{
			margin: 0 auto;
		}
		&-txt{
			&-wrap{
				padding: 20px 10px;
			}
		}
	}
}