.hightlights{
	padding: 115px 0;
	background: $c-grey-light;
	&-row{
		@include make-row();
		padding-top: 35px;
	}
	&-col{
		@include make-col-ready($grid-columns);
    	@include make-col(6);
	}
	&-i{
		max-width: 480px;
		padding: 30px;
		border-radius: 10px;
		display: flex;
		&:nth-child(2n){
			background: $c-inverse;
			@extend .shadow;  
		}
		&-img{
			max-width: auto;
			&-wrap{
				padding-right: 15px;
				min-width: 40px;  
			}
		}
	}
	&-blk{
		padding-top: 115px;
	}
}


@media screen and (max-width: 1023px){
	.hightlights{
		padding: 50px 0;
		&-blk{
			padding-top: 0;
		}  
	}
}

@media screen and (max-width: 900px){
	.hightlights{
		padding: 30px 0;
		&-col{
	    	@include make-col(12);
		}
		&-i{
			max-width: 100%;
			padding: 15px;
		}
		&-row{
			padding-top: 0;
		}
		&-img{
			margin: 0 auto;
		}
		&-i{
			&-img{
				&-wrap{
			    	padding-top: 5px;  
			    }
			}
		}
	}
}