.press{
	padding: 100px 0;
	border-bottom: 1px solid $c-border;
	border-top: 1px solid $c-border;  
	&-blk{
		padding: 0 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&-img{
		padding: 25px;
		&:first-child{
			padding-left: 0;
		} 
		&:last-child{
			padding-right: 0;
		} 
	}
}

@media screen and (max-width: 1250px){
	.press{
		&-blk{
			padding: 0; 
		}
	}
}

@media screen and (max-width: 1023px){
	.press{
		padding: 50px 0;
		&-blk{
			justify-content: center;
		}
		&-img{
			padding: 15px;
		}
	}
}

@media screen and (max-width: 760px){
	.press{
		padding: 20px 0;
	}
}