.prices{
	padding: 115px 0;
	background: $c-grey-light;
	&-row{
		@include make-row();
		align-items: center;  
	}
	&-col{
		&-l{
			@include make-col-ready($grid-columns);
	    	@include make-col(4);
		}
		&-r{
			@include make-col-ready($grid-columns);
	    	@include make-col(8);
		}
	}
	&-r{
		padding-left: 100px;  
		&-row{
			@include make-row();
			margin: 0;
			align-items: center;  
		}
		&-col{
			@include make-col-ready($grid-columns);
	    	@include make-col(6);     
	    	padding: 0;
		}
	}
	&-i{
		color: $c-inverse;
		background: url('../../public_html/img/bg3.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover; 
		border-radius: 10px;  
		&.__light{
			background: $c-inverse;
			color: $c-grey;
			border: 1px solid $c-border;
			border-left: none;  
			.prices-i-t-ttl{
				background: $c-grey-light;
				text-align: center;  
				border-top: 1px solid $c-border;
				border-bottom: 1px solid $c-border;
			}
			.prices-price{
				font-size: 40px;
			}
			.prices-item{
				&:before{
					@extend .s-ok;   
				}
			}
			.btn{
				background: $c-grad2; 
			}
		}
		&-t{
			padding-top: 50px;
			&-ttl{
				font-size: 11px;
				text-transform: uppercase;  
				font-family: $f-eb;
				padding: 10px 0;
				background: rgba(225,225,225,.1);
				text-align: center;  
				border-top: 1px solid rgba(225,225,225,.3);
				border-bottom: 1px solid rgba(225,225,225,.3);  
			}
		}
		&-b{
			padding: 50px;
		}
	}
	.ttl{
		text-align: left;  
	}
	&-price{
		font-size: 60px;
		font-family:  $f-l;
		line-height: 1;
		text-align: center;
	}
	&-lst{
		padding-top: 40px;
		margin-bottom: 30px;  
	}
	&-item{
		position: relative;
		font-size: 15px;
		padding-left: 30px;
		padding-bottom: 5px;  
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			@extend .s-ok2;   
			margin-top: -8px;  
		}
	}
}

@media screen and (max-width: 1023px){
	.prices{
		padding: 50px 0;
		&-col{
			&-l{
		    	@include make-col(12);
			}
			&-r{
		    	@include make-col(12);
			}
		}
		.ttl{
			text-align: center;  
		}
		&-txt{
			text-align: center;
		}
		&-r{
			margin-top: 30px;
			padding-left: 0;  
		}
	}
}

@media screen and (max-width: 760px){
	.prices{
		padding: 30px 0;
		&-r{
			&-col{
		    	@include make-col(12);     
			}
		}
		&-i{
			margin-bottom: 20px;
			&-b{
				    padding: 20px;
			}
			&-t{
				padding-top: 20px;
			}
		}
	}
}