.tablet{
	background: url('../../public_html/img/bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 140px;
	color: $c-inverse;
	&-row{
		@include make-row();
	}
	&-col{
		@include make-col-ready($grid-columns);
    	@include make-col(6);
	}
	&-txt{
		&-wrap{
			padding-top: 100px;
			padding-bottom: 30px;
		}
	}
	&-ttl{ 
		padding: 45px 0;
		font-size: 35px;
		font-family: $f-l;
		max-width: 505px;
		line-height: 1.5;
		&-part{
			font-family: $f-eb;
		}
	}
	&-img{
		margin-bottom: -130px;
		&-wrap{
			padding-right: 60px;
		}
	}
	&-btn{
		&-group{
			display: flex;
			align-items: center;
		}
		&-wrap{
			&-b{
				margin-right: 20px;
				max-width: 170px;
				min-width: 170px;
			}
			&-s{
				max-width: 150px;
				min-width: 150px;
			}
		}
	}
}

@media screen and (max-width: 1023px){
	.tablet{
		padding-top: 100px;
		&-ttl{
			font-size: 25px;  
		}
		&-img{
			&-wrap{
				padding-right: 0;
			}
		}
	}
}

@media screen and (max-width: 760px){
	.tablet{
		padding-top: 80px;
		&-col{
	    	@include make-col(12);
		}
		&-logo{
			margin: 0 auto;
		}
		&-ttl{
			line-height: 1.3;
			font-size: 20px;
			text-align: center;
			padding: 25px 0;
			margin: 0 auto;
		}
		&-btn{
			&-group{
				justify-content: center;
			}
			&-wrap{
				&-b{
					margin-right: 10px;
					max-width: 150px;
					min-width: 150px;
				}
				&-s{
					max-width: 120px;
					min-width: 120px;
				}
			}
		}
		&-img{
			margin: 0 auto;  
			margin-bottom: -30px;
		}
	}
}