.testimonials{
	padding: 115px 0;
	background: $c-grey-light;
	border-bottom: 1px solid $c-border; 
	position: relative;
	&:before{ 
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 540px;
		background: $c-inverse;
		border-right: 1px solid $c-border;  
	} 
	&-row{
		@include make-row();
	}
	&-col{
		&-l{
			@include make-col-ready($grid-columns);
	    	@include make-col(4);
		}
		&-r{
			@include make-col-ready($grid-columns);
	    	@include make-col(8);

		}
	}
	&-stars{
		&-wrap{
			padding-bottom: 60px;
		}
	}
	&-l{
		&-b{
			padding-top: 250px;
		}
	}
	&-lnk{
		display: block;
		font-family: $f-b;
		font-size: 15px;  
		padding-left: 35px;
		color: $c-main;
		transition: opacity .3s;
		position: relative;   
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			@extend .s-arrow; 
			margin-top: -4px;  
		}
		&:hover{
			opacity: .8;
		}
		&-name{
			font-size: 15px;
			font-family: $f-b;
			color: $c-grey;
			padding-bottom: 35px;
		}
	}
	.ttl{
		text-align: left;  
		line-height: 1.5;
	}
	&-r{
		padding-left: 100px;  
	}
	&-i{
		padding: 25px;
		border-radius: 10px;
		background: $c-inverse;  
		max-width: 570px;  
		margin-bottom: 20px; 
		&:nth-child(2n){
			margin: 0 0 20px auto;   
			.testimonials-img-wrap{
				order: 2;
			}
			.testimonials-txt{
				order: 1;
				text-align: right;
				padding-left: 0;
				padding-right: 25px;
			}
			.testimonials-i-name{
				order: 2;
			}
			.testimonials-ic-lnk{  
				order: 1;
			}
		}   
		&-t{
			display: flex;
			border-bottom: 1px solid $c-border; 
		}
		&-b{
			padding-top: 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&-name{
			color: $c-grey;
			font-size: 12px; 
			&-part{
				font-family: $f-b;
			}
		}
	}
	&-txt{
		padding-left: 25px;
		font-family: $f-i;
		padding-bottom: 25px;  
	}
	&-img{  
		min-width: 50px;   
		&-wrap{
			padding-top: 10px;
		}
	}
}

@media screen and (max-width: 1250px){
	.testimonials{
		&:before{ 
			width: 340px;
		} 
	}
}

@media screen and (max-width: 1023px){
	.testimonials{
		padding: 50px 0;
		&:before{ 
			width: 250px;
		} 
		&-r{
			padding-left: 0;
		}
		&-l{
			&-b{
				padding-top: 0;
			}
		}
	}
}

@media screen and (max-width: 760px){
	.testimonials{
		&:before{ 
			display: none;
		} 
		&-col{
			&-l{
		    	@include make-col(12);
			}
			&-r{
		    	@include make-col(12);

			}
		}
		&-i{
			max-width: 100%;
			 padding: 15px;
			&:nth-child(2n){
				margin: 0 0 20px 0;
			}
		}	
		&-r{
			margin-top: 20px;
		}
		.ttl{
			text-align: center;  
		}
		&-l{
			&-b{
				max-width: 200px;
    			margin: 0 auto;
			}
		}
		&-lnk{
			text-align: center;
			&-name{
				text-align: center;
				padding-bottom: 15px;
			}
		}
		&-stars{
			margin: 0 auto;
			&-wrap{
				padding-bottom: 15px;
			}
		}
	}
}