.video{
	padding: 115px 0;
	background: url('../../public_html/img/bg1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	&-btn{
		display: block;
		position: relative;
		width: 60px;
		height: 60px;
		background: $c-inverse;
		border-radius: 50px;
		margin: 0 auto;   
		z-index: 3; 
		transition: opacity .3s;  
		&:hover{
			opacity: .8;
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			width: 70px;
			height: 70px;
			top: 0;  
			bottom: 0;  
			left: -7px;  
			right: 0;
			margin: auto;  
			border-radius: 50px;
			border: 2px solid rgba(225,225,225,.6);
			z-index: 2;    
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 3px;   
			right: 0;
			margin: auto;
			@extend .s-play;
			z-index: 1;
		}
		&-wrap{
			position: relative;
			width: 60px;
			height: 60px;  
			margin: 0 auto; 
			margin-top: 30px;     
			&:after{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: -14px;  
				right: 0;
				margin: auto;  
				width: 85px;
				height: 85px;  
				border-radius: 50px;  
				border: 1.5px solid rgba(225,225,225,.5);  
			}
			&:before{  
				content: '';
				display: block;
				position: absolute;
				top: -1px;    	
				bottom: 0;
				left: -21px;      
				right: 0;
				margin: auto;  
				width: 100px;  
				height: 100px;       
				border-radius: 50px;
				border: 1px solid rgba(225,225,225,.2);       
			}
		}
	}
	&-txt{
		text-align: center;
		color: $c-inverse;
		max-width: 570px;
		margin: 0 auto;
	}  
}