// Bootstrap grid
$enable-flex:               true;
$enable-grid-classes:       false;
$grid-gutter-width: 10px;

//Base container
$padding-container: 40px;
$width-container:	1170px;


// Base color 

$c-main: #000000;
$c-inverse: #fff;
$c-border: #E7E8EA;
$c-grey: #676C75;
$c-grey-light: #F8F9FA; 
$c-lnk: #469AF4;
$c-grad1:  linear-gradient(135deg, rgba(255,141,100,1) 0%, rgba(255,230,65,1) 100%);
$c-grad2:  linear-gradient(135deg, rgba(0,158,197,1) 0%, rgba(60,236,177,1) 100%);
$c-grad3: linear-gradient(to bottom, rgba(181,46,181,1) 0%, rgba(250,94,143,1) 100%);