.btn{
	display: block;
	line-height: 50px;
	font-family: $f-b;
	font-size: 17px;
	color: $c-inverse;
	text-align: center;
	background: $c-grad1;
	width: 100%;
	border: none;
	padding: 0 20px;
	border-radius: 10px;
	&:hover{
		transition: opacity.3s;
		opacity: .8;
	}
	&-inverse{
		@extend .btn;
		color: $c-main;
		background: $c-inverse;  
	}
}

button{
	outline: none;
	cursor: pointer;
}

@media screen and (max-width: 760px){
	.btn{
		font-size: 13px;  
	}
}