input, textarea{
	display: block;
	width: 100%;
	color: $c-grey;
	padding: 0 20px;
	font-family: $f;
	border-radius: 10px;
	font-size: 17px;
	border: none;
	&:focus{
		outline: none;
	}
	&::-webkit-input-placeholder {
		color:  #B9BDC3;     
		font-size: 17px;
	}
	&::-moz-placeholder{
		color:  #B9BDC3;
		font-size: 17px;
	}/* Firefox 19+ */
	&:-moz-placeholder{
		color:  #B9BDC3;
		font-size: 17px;
	}/* Firefox 18- */
	&:-ms-input-placeholder{
		color: #B9BDC3;         
		font-size: 17px;  
	}
}
input{
	height: 50px;
	line-height: 50px;
}

label{
	font-size: 14px;
	font-weight: bold;
}

.inp{
	&-wrap{
		margin-bottom: 20px;
		width: 100%;
		&:first-child{
			margin-right: 20px;
		}
	}
	&-group{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

textarea{
	resize: vertical;
	padding: 20px;
}

@media screen and (max-width: 760px){
	.inp-group{
		display: block;
	}
}