.ttl{
	font-size: 35px;
	line-height: 35px;
	font-family: $f-l;
	text-align: center;
	color: $c-main;
	padding-bottom: 35px;
	&-part{
		font-family: $f-eb; 
	}
	&-inverse{
		@extend .ttl;
		color: $c-inverse;
		&-part{
			@extend .ttl-part;
		}
	}
	&-s{
		@extend .ttl;
		font-size: 20px;
		padding-bottom: 20px;
		&-part{
			@extend .ttl-part;
		}
	}
	&-xs{
		@extend .ttl;
		font-size: 16px;
		padding-bottom: 15px;
		text-align: left;
		line-height: 1.5;	
		&-part{
			@extend .ttl-part;
		}
	}
}

@media screen and (max-width: 1024px){
	.ttl{
		font-size: 25px;
		padding-bottom: 15px;  
		&-xs{
			font-size: 20px;
		}
	}
}

@media screen and (max-width: 760px){
	.ttl{
		font-size: 20px; 
	}
}